<html>
<head>
	<title>Ground Control</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<style>
	.main {width: 800px; align: center;}
	table {border-collapse: collapse;}
	table, th, td {border: 1px solid black;}
	td {padding: 10px 20px;}
	th {font-weight: bold}
	
	.new {padding: 50px 20px;}

</style>
<body>
	<div class="navbar">
		<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
		<label for="openSidebarMenu" class="sidebarIconToggle">
			<div class="spinner diagonal part-1"></div>
			<div class="spinner horizontal"></div>
			<div class="spinner diagonal part-2"></div>
		</label>
		<div id="sidebarMenu">
			<ul class="sidebarMenuInner">
				<li><a href="index.html">Ground Control</p></a></li>
				<li><a href="history.html">Historical Runs</p></a></li>
				<li><a href="errors.html">Edit Errors</p></a></li>
				<li><a href="sensors.html">Adjust Sensors</p></a></li>
				<li><a href="users.html">Manage Users</p></a></li>
			</ul>
		</div>
		<div class="navbarLogout">
			<a href="logout">Logout</a>
		</div>
	</div>

	<center>
	<div class="main" ng-app="myApp" ng-controller="myCtrl" ng-init="refresh()">
		<h1>Errors</h1>
		<form name="newError">
			<label for="type">Error Type:</label>
			<input type="text" name="type" ng-model="type" required>
			
			<label for="desc">Error Description:</label>
			<input type="text" name="desc" ng-model="desc" required>
			
			<button ng-confirm-add>New Error</button>
		</form>
		
		
		<table align="center">
			<thead>
				<tr>
					<td><h2>Error Id</h2></td>
					<td><h2>Error Type</h2></td>
					<td><h2>Error Description</h2></td>
					<td><h2>Delete?</h2></td>
				</tr>
			</thead>
			<tbody ng-repeat="e in errors">
				<tr>
					<td>{{e.error_id}}</td>
					<td>{{e.type}}</td>
					<td>{{e.description}}</td>
					<td align="center"><button ng-click="deleteError(e.error_id)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			$scope.type = '';
			$scope.desc = '';

			$scope.refresh = function () {
				$http.get('api/error')
				.then(function success (response) {
					//console.log(JSON.stringify(response));
					$scope.errors = response.data.data[0];
				});
			};
			
			$scope.addError = function () {
				console.log("Adding error (" + $scope.type + ", " + $scope.desc + ")!");
				var desc = $scope.desc || 'NA';
				$http.post('api/error/type/' + $scope.type + '/desc/' + desc)
				.then(function success (result) {
					console.log("Successfully added error!");
					$scope.refresh();
				});
			};

			$scope.deleteError = function (error_id) {
				console.log("Started delete on error id " + error_id);
				if (!window.confirm("Are you sure you want to delete this error?")) {
					console.log("Cancelled deletion of error " + error_id);
					return;
				}

				console.log("Deleting error id " + error_id);
				$http.delete('api/error/' + error_id)
				.then(function success (result) {
					console.log("Successfully deleted error!");
					$scope.refresh();
				});
			};
		});
		app.directive('ngConfirmAdd', [function () {
			return {
				link: function (scope, element, attr) {
					element.bind ('click', function (event) {
						console.log("Started add process with type: " + scope.type + " desc: " + scope.desc);
						if (scope.type == '') {
							alert("Type cannot be blank!");
							return;
						}
						if (!window.confirm("Are you sure you want to add this error?")) {
							console.log("Cancelled adding new error");
							return;
						}
						scope.$eval(scope.addError());
					});
				}
			};
		}]);
	</script>
</body>
</html>