<html>
<head>
	<title>Ground Control</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
	<script src="history.js"></script>

	<style>
		.main{width:800px;}
		table {border-collapse: collapse;}
		table, th, td {border: 1px solid black;}
		td {padding: 10px 20px;}
		th {font-weight: bold;}
		table tbody {overflow-y: scroll;}
		.selected {background-color:deepskyblue}
	</style>
</head>
<body>
	<div class="navbar">
		<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
		<label for="openSidebarMenu" class="sidebarIconToggle">
			<div class="spinner diagonal part-1"></div>
			<div class="spinner horizontal"></div>
			<div class="spinner diagonal part-2"></div>
		</label>
		<div id="sidebarMenu">
			<ul class="sidebarMenuInner">
				<li><a href="index.html">Ground Control</p></a></li>
				<li><a href="history.html">Historical Runs</p></a></li>
				<li><a href="errors.html">Edit Errors</p></a></li>
				<li><a href="sensors.html">Adjust Sensors</p></a></li>
				<li><a href="users.html">Manage Users</p></a></li>
			</ul>
		</div>
		<div class="navbarLogout">
			<a href="logout">Logout</a>
		</div>
	</div>

	<center>
	<div class="main" ng-app="myApp" ng-controller="myCtrl" ng-init="getRuns()">
		<h1>Select Runs to Display</h1>
		<div>
			<table align="center">
				<thead>
					<tr>
						<th>Run Id</th>
						<th>Start Time</th>
						<th>Run Title</th>
						<th>Run Description</th>
					</tr>
				</thead>
				<tbody ng-repeat="r in runs">
					<tr ng-click="selectRun(r.run_id)" ng-class="{selected: run_ids.includes(r.run_id)}">
						<td>{{r.run_id}}</td>
						<td>{{r.start_time | date:'medium'}}</td>
						<td>{{r.title}}</td>
						<td>{{r.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div ng-repeat="c in sensorList">
			<hr>
			<h1>Sensor {{c.index + 1}} - {{c.description}}</h1>
			<div style="width:800px; height:400px; text-align:center;">
				<canvas id="chart{{c.index}}" width="800" height="400"></canvas>
			</div>
		</div>
	</div>
	</center>
</body>
</html>