/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	margin: 0;
	padding: 0;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 28px;
}

.navbarHome {
	float: left;
}

.navbarSettings {
	float: right;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

body {
	margin: 0;
	padding: 0;
}

.main {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 30px;
}