<html>
<head>
	<title>Ground Control</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<style>
	.main {width: 800px; align: center;}
	table {border-collapse: collapse;}
	table, th, td {border: 1px solid black;}
	td {padding: 10px 20px;}
	th {font-weight: bold}
	
	.new {padding: 50px 20px;}

</style>
<body>
	<div class="navbar">
		<div class="navbarHome">
			<a href="index.html">Home</a>
		</div>
		<div class="navbarSettings">
			<a href="settings.html">Settings</a>
			<a href="logout">Logout</a>
		</div>
	</div>

	<center>
	<div class="main" ng-app="myApp" ng-controller="myCtrl" ng-init="refresh()">
		<h1>Users</h1>
		<form name="newUser">
			<label for="username">Username:</label>
			<input type="text" name="username" ng-model="username" required>
			
			<label for="password">Password:</label>
			<input type="text" name="password" ng-model="password" required>
			
			<label for="admin">Admin:</label>
			<input type="checkbox" name="admin" ng-model="admin" required>
			
			<button ng-confirm-add>New User</button>
		</form>
		
		<table align="center">
			<thead>
				<tr>
					<td><h2>Username</h2></td>
					<td><h2>Admin</h2></td>
					<td><h2>Delete?</h2></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="u in users">
					<td>{{u.username}}</td>
					<td>{{u.admin_flag}}</td>
					<td align="center"><button ng-click="deleteUser(u.username)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http) {
			$scope.type = '';
			$scope.desc = '';

			$scope.refresh = function () {
				$http.get('api/users')
				.then(function success (response) {
					//console.log(JSON.stringify(response));
					$scope.users = response.data.data[0];
				});
			};
			
			$scope.addUser = function () {
				console.log("Adding user (" + $scope.username + ', ' + $scope.password + ', ' + $scope.admin + ")!");
				$http.post('api/user/' + $scope.username + '/password/' + $scope.password + '/admin/' + $scope.admin)
				.then(function success (result) {
					console.log("Successfully added user!");
					$scope.refresh();
				});
			};

			$scope.deleteUser = function (username) {
				console.log("Started delete on user " + username);
				if (!window.confirm("Are you sure you want to delete this user?")) {
					console.log("Cancelled deletion of user " + username);
					return;
				}

				console.log("Deleting user " + username);
				$http.delete('api/user/' + username)
				.then(function success (result) {
					console.log("Successfully deleted user!");
					$scope.refresh();
				}, function failure (result) {
					console.error("Failed to delete user!");
					console.error(result);
				});
			};
		});
		app.directive('ngConfirmAdd', [function () {
			return {
				link: function (scope, element, attr) {
					element.bind ('click', function (event) {
						console.log("Started add process with username: " + scope.username + " pw: " + scope.password + " admin: " + scope.admin);
						if (scope.username == '') {
							alert("Username cannot be blank!");
							return;
						}
						if (scope.password == '') {
							alert("Password cannot be blank!");
							return;
						}
						if (!window.confirm("Are you sure you want to add this user?")) {
							console.log("Cancelled adding new user");
							return;
						}
						scope.$eval(scope.addUser());
					});
				}
			};
		}]);
	</script>
</body>
</html>